*{
    padding: 0;
    margin: 0;
}

html, body{
    display: block;
    width: 100%;
    height: 100%;
}

body{
    display: flex;
    width: 100%;
    height: 100%;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: #345;
}

form{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

h1{
    color: #ddd;
    padding: 15px;
}

input, button{
    padding: 10px;
    border-radius: 50px;
    border: none;
    outline: none;
    margin-bottom: 20px;
}

.pop{
    position: fixed;
    bottom: 10px;
    color: #aaa;
}

a{
    text-decoration: none;
    color: #f90;
}
a:hover{
    text-decoration: underline;
}