{% extends "base.html" %}

{% load static %}

{% block 'header' %}
<link rel="stylesheet" href="{% static 'css/cseed.css' %}">
<link rel="stylesheet" href="{% static 'css/font-awesome/css/font-awesome.min.css' %}">
{% endblock 'header' %}

{% block 'body' %}
<main>
    <div id="space">
        <div id="left">
            <div id="perfil">
                <img src="{{ binary }}" alt="" id="photo">
                <span id="name">{{ username }}</span>
            </div>
            <div id="chat">
                <span class="fa fa-keyboard-o fa-2x"></span>
                <span>chat</span>
            </div>
            <div id="chat_content">
                <div class="content">
                    <span class="fa fa-user-o"></span>
                    <span>Hi. How are you?</span>
                </div>
            </div>
            <div id="config">
                <p><span class="fa fa-cog"></span>settings</p>
            </div>
        </div>
        <div id="middle">
            <div id="feed_content">
            </div>
        </div>
        <div id="right">
            <div id="modal" >
                <div id="modal_content">
                    <div id="modal_header">
                        <div id="exit"><span class="fa fa-arrow-left"></span></div>
                    </div>
                    <div id="modal_body">
                        <img src="https://i.pinimg.com/564x/5c/ea/d3/5cead3ce68c27ace2ce2a2281a7b824f.jpg" alt="">
                        <p class="date"></p>
                        <div id="message">
                            <textarea id="send_message" cols="0" rows="1" placeholder="add your comment"></textarea><button><span class="fa fa-paper-plane"></span></button>
                        </div>
                        <div class="comments">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="{% static 'js/js.js' %}"></script>
<script>
    data = {
        username:'gab',
        binary:'https://i.pinimg.com/564x/5c/ea/d3/5cead3ce68c27ace2ce2a2281a7b824f.jpg',
        date:'02/10/2024',
        comments:['tudo bem?','que incrível','foda mano']
    }
</script>
{% endblock 'body' %}
