{% extends "base.html" %}

{% load static %}

{% block 'header' %}
    <link rel="stylesheet" href="{% static 'css/perfil.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
{% endblock 'header' %}

{% block 'body' %}
{% include 'modals/message.html' %}
{% include 'modals/photo.html' %}
<main>
    <div id="perfil">
        <nav>
            <img src="https://i.pinimg.com/736x/5d/82/5d/5d825d5590e0b0ad9a3024e96ffef5d1.jpg" alt="background" id="background">
            <img src="
                {% if binary_perfil %}
                    {{binary_perfil}}
                {% endif %}
            " alt="
                {% if binary_perfil %}
                    {{name}}
                {% else %}
                    add photo
                {% endif %}
            " id="photo_perfil">
            <ul>
                <li id="name">{{name}}</li>
                <li id="bio">
                    {% if bio %}
                        {{bio}}
                    {% else %}
                        <p id="add_bio">add your bio <span class="fa fa-pencil"></span></p>
                    {% endif %}
                </li>
                <li><a href="{% url 'feed' %}">feed</a></li>
            </ul>
        </nav>
    </div>
    <div id="post">
        <p><span class="fa fa-bookmark-o"></span>post</p>
        <input type="file" id="new_file">
        <label for="new_file" id="add_post"><span class="fa fa-image"></span>add post</label>
        <input type="hidden" id="binary_post" value="{{binary_post}}">
        <input type="hidden" id="date_post" value="{{date_post}}">
        <input type="hidden" id="comments_post" value="{{comments_post}}">
        {% if binary_post %}
        {% else %}
            <p>any posts</p>
        {% endif %}
        <div id="post_content">
        </div>
    </div>
</main>
<script src='{% static "js/pe.js" %}'></script>
<script src="{% static 'js/modals.js' %}"></script>
{% endblock 'body' %}
