{% extends "base.html" %}

{% load static %}

{% block 'header' %}
    <link rel="stylesheet" href="{% static 'css/perfl.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
    <script src='{% static "js/perfl.js" %}' defer></script>
    <script src="{% static 'js/modals.js' %}" defer></script>
{% endblock 'header' %}

{% block 'body' %}
{% include 'modals/message.html' %}
{% include 'modals/photo.html' %}
<main>
    <div id="perfil">
        <nav>
            <img src="https://i.pinimg.com/736x/5d/82/5d/5d825d5590e0b0ad9a3024e96ffef5d1.jpg" alt="background" id="background">
            <img src="
                {% if binary_perfil %}
                    {{binary_perfil}}
                {% endif %}
            " alt="
                {% if binary_perfil %}
                    {{name}}
                {% else %}
                    add photo
                {% endif %}
            " id="photo_perfil">
            <ul id="info">
                <li id="name">{{name}}</li>
                <li id="bio">
                    {% if bio %}
                        {{bio}}
                    {% else %}
                        <p id="add_bio">add your bio <span class="fa fa-pencil"></span></p>
                    {% endif %}
                </li>
                <li><a class="button" href="{% url 'feed' %}">feed</a></li>
            </ul>
            <p id="settings"><span class="fa fa-cog"></span>settings</p>
            <ul id="settings_container">
                <li id="delete_account"><a class="button" href="#">deletar</a></li>
                <li id="end_session"><a class="button" href="#">encerrar sessão</a></li>
            </ul>
        </nav>
    </div>
    <div id="post">
        <p><span class="fa fa-bookmark-o"></span>post</p>
        <input type="file" id="new_file">
        <label for="new_file" id="add_post"><span class="fa fa-image"></span>add post</label>
        <div id="post_content">
        </div>
    </div>
</main>
<script>
    const delete_account = document.querySelector("#delete_account")
    const end_session = document.querySelector("#end_session")

    function get_cookie(mode=0){
        let tokens = document.cookie.split('; ')
        for(let token in tokens){
            resp = tokens[token].split('=')
            switch (mode){
                case 0:
                    if(resp[0] == 'csrftoken'){
                        return resp[1]
                    }
                    else{}
                    break
                case 1:
                    if(resp[0] == 'name'){
                        return resp[1]
                    }
                    else{}
                    break
                default: 
                    console.log('get_cookie:. mode not found')
                    break
            }
        }
    } 

    async function request_delete(data={}){
        const resp = await fetch('/center/',{
            method:'delete',
            headers:{
                'Content-Type':'form-data; mode=delete_account',
                'X-CSRFToken':get_cookie(),
            },
            body:JSON.stringify(data)
        })

        return resp.json()
    }

    delete_account.onclick = () =>{
        const data = {
            username:get_cookie(1),
            password:''
        }
        data.password = prompt('digite sua senha:')

        request_delete(data)
        .then(data=>{
            console.log(data)
        })
        
    }

    end_session.onclick = () =>{

    }

</script>
{% endblock 'body' %}
