{% extends "base.html" %}

{% load static %}

{% block 'header' %}
<link rel="stylesheet" href="{% static "css/static.css" %}">
{% endblock 'header' %}

{% block 'body' %}
{% include "message.html" %}
<img src="{% static 'img/duck.svg' %}" alt="">
<form action="{% url 'signup' %}" method="post"> {% csrf_token %}
    <h1>signup</h1>
    <input type="text" name="name">
    <input type="password" name="password">
    <input type="password" name="confirm">
    <button>send</button>
    <p class="pop">are you sign? let's <a href="{% url 'login' %}">login</a></p>
</form>
{% endblock 'body' %}