@keyframes background {
    0%{background-position: 0% 0%;}
    50%{background-position: 100% 100%;}
    100%{background-position: 0% 0%;}
}

:root{
    --bg: #1F2544;
    --border: #FFD0EC;
    --hover: #81689D;
    --color: #fff;
    scroll-behavior: smooth;
    scrollbar-color: transparent transparent;
    scrollbar-width: thin;
}

*{
    padding: 0;
    margin: 0;
}

html, body{
    display: block;
    width: 100%;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
}

main{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: var(--bg);
}

#space{
    display: grid;
    width: 100%;
    max-width: 750px;
    height: 100%;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    backdrop-filter: blur(5px);
    align-items: center;
    overflow: hidden;
}

#left, #middle{
    display: flex;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    flex-flow: column;
    justify-content: flex-start;
    padding: 20px;
    overflow: hidden;
}

#left{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 180px 60px calc(100% - 300px) 60px;
}

#perfil, #chat{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--color);
    gap: 10px;
}

#chat{
    flex-flow: row;
    justify-content: left;
    padding: 0 0 0 10px;
}

#perfil{
    flex-flow: column;
    color: #fff;
    border-radius: 20px;
    transition: 0.2s;
}

#perfil img{
    display: block;
    width: 80px;
    height: 80px;
    background-color: var(--border);
    border-radius: 50%;
}

#chat_content{
    display: flex;
    width: 100%;
    height: 100%;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden scroll;
}

#chat_content .content{
    display: flex;
    width: calc(100% - 5px);
    height: 60px;
    min-height: 60px;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 0 5px;
    background-color: var(--border);
    color: var(--bg);
    margin: 0 0 5px 0;
    border-radius: 10px;
    cursor: pointer;
    gap: 5px;
    transition: 0.2s;
}

#chat_content .content:hover{
    background-color: var(--hover);
    color: #ddd;
}

#config{
    display: flex;
    width: 100%;
    height: 60px;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    color: var(--color);
}

#config p{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#middle{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

#feed{
    display: flex;
    width: 100%;
    height: 100%;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    color: var(--color);
    border-bottom: 2px solid var(--border);
}

#feed_content{
    display: flex;
    width: 100%;
    height: calc(100% - 20px);
    padding: 10px 0;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden scroll;
}


#feed_content .content{
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 460px;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#feed_content .content img{
    display: block;
    width: calc(100% - 8px);
    height: 440px;
    border-radius: 10px;
    border: 2px solid transparent;
    outline: 2px solid var(--border);
    transition: 0.2s;
    cursor: pointer;
}

#feed_content .content img:hover{
    outline: 2px solid var(--hover);
}

#feed_content .content .date{
    display: flex;
    width: 100%;
    height: 50px;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    color: var(--color);
    gap: 5px;
}
